Resources/WADL/LegacygetBillInfoBS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://www.km.qa/soa/bcrm/legacy_getBillinfo/schema/getBillinfo_schema" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="LegacygetBillInfoBS">RestReference</doc>
  <grammars>
    <xsd:schema>
      <xsd:import namespace="https://www.km.qa/soa/bcrm/legacy_getBillinfo/schema/getBillinfo_schema" schemaLocation="../Schema/getBillInfo_schema.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="https://www.km.qa/C2MFault" schemaLocation="../../../KM_OSB_MDS_Repo/Schema/C2MfaultSchema.xsd"/>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/BCRM/Payments_LegacybillInfo/LegacygetBillInfo/getBillinfo">
      <method name="GET" soa:wsdlOperation="getBillinfo">
        <request soa:paramElement="pns:LegacygetBillinfoRequest" xmlns:pns="https://www.km.qa/soa/bcrm/legacy_getBillinfo/schema/getBillinfo_schema">
          <param name="QID" style="query" soa:expression="$msg.request/tns:QID" type="xsd:string"/>
          <param name="parentNumber" style="query" soa:expression="$msg.request/tns:parentNumber" type="xsd:string"/>
          <param name="customerNumber" style="query" soa:expression="$msg.request/tns:customerNumber" type="xsd:string"/>
          <param name="bnKey" style="query" soa:expression="$msg.request/tns:bnKey" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:LegacygetBillinfoResponse" xmlns:cns="https://www.km.qa/soa/bcrm/legacy_getBillinfo/schema/getBillinfo_schema"/>
        </response>
        <response status="400" soa:wsdlFaultName="fault1">
          <representation mediaType="application/json" element="cns:errorMessage" xmlns:cns="https://www.km.qa/C2MFault"/>
        </response>
      </method>
    </resource>
  </resources>
</application>